@charset "UTF-8";
/*Обнуление*/
@import "../fonts/gilroy/stylesheet.css";
@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
html, body {
  font-family: "Gilroy", sans-serif;
  font-weight: 500;
  color: #114455;
  scroll-behavior: smooth;
}

.no-scroll {
  overflow-y: hidden;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hidden {
  visibility: hidden;
}

._container {
  max-width: 1750px;
  margin: 0 auto;
  padding: 0 15px;
}

._container-right {
  padding-left: calc((100% - 1750px) / 2 + 15px);
}

@media (max-width: 1749px) {
  ._container-right {
    padding-left: 15px;
  }
}
.btn {
  padding: 12px 73px 17px 25px;
  border: 1px solid #114455;
  border-radius: 2px;
  position: relative;
}
.btn:after {
  content: "";
  display: block;
  width: 32px;
  height: 32px;
  position: absolute;
  top: 18px;
  right: 23px;
  background: url("../img/icons/arrow-right-black.svg") no-repeat;
  -webkit-transition: right 0.2s ease-in, background 0.2s ease-in;
  transition: right 0.2s ease-in, background 0.2s ease-in;
}
.btn:hover {
  background: rgba(157, 202, 255, 0.1);
}
.btn:hover:after {
  right: 19px;
}

.btn-black {
  max-width: 197px;
  padding: 17px 80px 21px 32px;
  border: 1px solid #114455;
  background: #114455;
  border-radius: 2px;
  position: relative;
}
.btn-black:after {
  content: "";
  display: block;
  width: 32px;
  height: 32px;
  position: absolute;
  top: 23px;
  right: 29px;
  background: url("../img/icons/arrow-right-white.svg") no-repeat;
  -webkit-transition: right 0.2s ease-in, background 0.2s ease-in;
  transition: right 0.2s ease-in, background 0.2s ease-in;
}
.btn-black:hover {
  background: rgba(17, 68, 85, 0.93);
}
.btn-black:hover:after {
  right: 23px;
}

.header {
  padding: 44px 0;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}

.header__pos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  max-width: 100%;
}

.header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__nav-list li + li {
  margin-left: 117px;
}

.header__nav-burger {
  display: none;
}

.header__nav-item {
  font-size: 20px;
  line-height: 180%;
  font-weight: 800;
}

.header__nav-link {
  color: #114455;
}

.header__nav-btn {
  color: #114455;
}

.main {
  min-height: 100vh;
  background: url("../img/header/header-bg.jpg");
  background-size: cover;
  background-position: center center;
  position: relative;
}

.main__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main__text {
  margin-bottom: 84px;
}
.main__text > *:not(:last-child) {
  margin-bottom: 54px;
}

.main__title {
  max-width: 734px;
  padding-top: 255px;
  font-size: 80px;
  line-height: 1.25;
  font-weight: 800;
}

.main__subtitle {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.1765;
  letter-spacing: -0.02em;
  color: #1F1F1F;
  opacity: 0.7;
}

.main__button {
  font-size: 20px;
  line-height: 36px;
  font-weight: 800;
}
.main__button a {
  color: white;
}

.main__arrows {
  width: 38px;
  height: 28px;
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 59px;
}

.main__mobile {
  display: none;
  max-width: 243px;
  padding-top: 238px;
  text-align: center;
  margin: 0 auto;
}

.main__mobile-logo {
  margin-bottom: 27px;
  width: 243px;
}

.main__mobile-text {
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.06em;
  /* Dark grey */
  color: #1F1F1F;
  opacity: 0.7;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.title {
  font-size: 80px;
  line-height: 94px;
  font-weight: 800;
  color: #1F1F1F;
  margin-bottom: 12px;
}

.body-text {
  font-size: 28px;
  line-height: 157%;
  color: #1F1F1F;
  opacity: 0.7;
}

.case {
  padding: 184px 0;
}

.case__subtitle {
  margin-bottom: 100px;
  max-width: 1070px;
}

.slider {
  width: 2200px;
}

.slide {
  display: inline-block;
  padding-left: 80px;
  position: relative;
  width: 725px;
}

.slide__title {
  position: absolute;
  left: 0;
  bottom: 104px;
  z-index: 2;
  font-size: 140px;
  line-height: 1.1715;
  font-weight: 800;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(to right, #114455 80px, white 80px);
}

.none {
  display: none !important;
}

.weare {
  padding-bottom: 144px;
}

.weare__subtitle {
  margin-bottom: 78px;
}

.video {
  position: relative;
}

.video-overlay:after {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(17, 68, 85, 0.5);
  z-index: 8;
}

.video__btn {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 9;
}
.video__btn.none {
  display: none;
}

.video__pic {
  position: relative;
  z-index: 7;
}
.video__pic img {
  width: 100%;
}
.video__pic.none {
  display: none;
}

.video__object {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  vertical-align: top;
}

.footer {
  padding-top: 162px;
  padding-bottom: 82px;
}

.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__copyright {
  font-size: 20px;
  line-height: 180%;
  letter-spacing: 0.04em;
  color: #1F1F1F;
  opacity: 0.7;
}

.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 6px;
}
.footer__links > *:not(:last-child) {
  margin-right: 110px;
}

.footer__mail {
  font-size: 20px;
  line-height: 180%;
  letter-spacing: 0.04em;
  opacity: 0.7;
}
.footer__mail a {
  color: #1F1F1F;
}

.footer__socials {
  width: 240px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__social {
  width: 30px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.mobile-nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 100vh;
  background: #fff;
  z-index: 100;
  padding: 44px 15px 32px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mobile-nav__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 66px;
}

.mobile-nav__logo img {
  height: 20px;
  width: 110px;
}

.mobile-nav__hello {
  font-size: 40px;
  line-height: 140%;
  font-weight: 800;
  color: #1F1F1F;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.mobile-nav__contacts {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.mobile-nav__title {
  font-size: 24px;
  line-height: 133%;
  font-weight: 800;
  color: #1F1F1F;
  margin-bottom: 32px;
}

.mobile-nav__body {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.06em;
  color: #1F1F1F;
  opacity: 0.7;
}
.mobile-nav__body > *:not(:last-child) {
  margin-bottom: 16px;
}

.mobile-nav__mail a {
  color: #1F1F1F;
}

.mobile-nav__number a {
  color: #1F1F1F;
}

.mobile-nav__footer {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

@media (max-width: 1000px) {
  .main__text {
    margin-bottom: 54px;
  }
  .main__text > *:not(:last-child) {
    margin-bottom: 34px;
  }
  .main__title {
    padding-top: 200px;
    font-size: 50px;
    line-height: 1.25;
  }
  .main__subtitle {
    font-size: 24px;
  }
  .header__nav-list li + li {
    margin-left: 70px;
  }
  .header__nav-item {
    font-size: 20px;
  }
  .slider {
    width: 1200px;
  }
  .slide {
    padding-left: 50px;
    width: unset;
  }
  .slide__title {
    bottom: 32px;
    font-size: 80px;
    line-height: 70px;
    background-image: linear-gradient(to right, #114455 50px, white 50px);
  }
  .slide__img {
    width: 336px;
    height: 396px;
  }
  .footer {
    padding-top: 0;
    padding-bottom: 32px;
  }
  .footer__body {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .footer__links {
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-right: 0;
    margin-bottom: 32px;
  }
  .footer__links > *:not(:last-child) {
    margin-right: 0px;
  }
  .footer__mail {
    margin-bottom: 21px;
  }
  .footer__mail a {
    color: #4A2AD3;
  }
  .footer__socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: center;
  }
}
@media (max-width: 600px) {
  .header__logo {
    margin-left: 9px;
  }
  .header__logo img {
    max-width: 109px;
    height: auto;
  }
  .header__nav-list {
    display: none;
  }
  .header__nav-burger {
    display: block;
    margin-right: 1px;
  }
  .main__body {
    display: none;
  }
  .main__mobile {
    display: block;
  }
  .main__arrows {
    width: 19px;
    height: 16px;
    bottom: 32px;
  }
  .title {
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 7px;
  }
  .body-text {
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.06em;
  }
  .case {
    padding: 80px 0;
  }
  .case__subtitle {
    margin-bottom: 31px;
  }
  .slider {
    width: 546px;
  }
  .slide {
    padding-left: 33px;
    width: unset;
  }
  .slide__title {
    bottom: 22px;
    font-size: 60px;
    line-height: 70px;
    background-image: linear-gradient(to right, #114455 33px, white 33px);
  }
  .slide__img {
    width: 224px;
    height: 264px;
  }
  .weare__subtitle {
    margin-bottom: 40px;
  }
  .weare {
    padding-bottom: 80px;
  }
  .video {
    overflow: hidden;
  }
  .video__btn img {
    width: 48px;
    height: 48px;
  }
  .video__pic {
    width: 100%;
  }
  .video__pic img {
    max-height: 500px;
  }
  .video__object {
    position: absolute;
    left: -50%;
    top: 0;
    width: 900px;
    height: 500px;
    vertical-align: top;
  }
  .video-overlay:after {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    max-height: 500px;
    background: rgba(17, 68, 85, 0.5);
    z-index: 8;
  }
  .footer {
    padding-top: 0;
    padding-bottom: 32px;
  }
  .footer__body {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .footer__copyright {
    font-size: 14px;
    line-height: 200%;
    letter-spacing: 0.08em;
  }
  .footer__links {
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-right: 0;
    margin-bottom: 32px;
  }
  .footer__links > *:not(:last-child) {
    margin-right: 0px;
  }
  .footer__mail {
    font-size: 16px;
    line-height: 200%;
    letter-spacing: 0.06em;
    margin-bottom: 21px;
  }
  .footer__mail a {
    color: #4A2AD3;
  }
  .footer__socials {
    width: 168px;
    height: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: center;
  }
  .footer__social {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .footer__social img {
    width: 24px;
    height: 24px;
  }
}